body {
	background: #ffffff;
	font: 16px/21px Helvetica, Arial, sans-serif;
	min-width: 1440px;
}
.header{
	background: #000;
	padding: 24px 48px;
  min-width: 928px;
	display: flex;
	justify-content: space-between;
}
.sidebar{
	background: #D5C4B2;
	padding: 16px 48px 32px;
	min-width: 160px;
}
.logo{
  width: 157px;
  height: 32px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
  padding-right: 48px;
}
.header .nav ul{
	display: flex;
}
.nav ul a{
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: 32px;
}
.main .nav ul a{
 	color: #000000;
 	padding-left: 0;
}
.main .nav ul li{
	margin-top: 16px;
}
.content{
	flex-grow: 1;
	padding: 24px 0 0;
}
.main{
	display: flex;
	align-items: stretch;
	min-height: calc(100vh - 80px);
}
.line{
	height: 65px;
	border-bottom: 1px solid #d5c4b2;
}
.heading{
	font-family: Helvetica;
  font-size: 36px;
	font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #d5c4b2;
  padding: 0 48px;
}
.box_one{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 127px;
  border-radius: 8px;
  background-color: rgba(213, 196, 178, 0.2);
  margin: 24px 48px 48px;
  position: relative;
}
.text_p{
  display: flex;
  align-content: center;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #000000;
  margin: 0 82px;
}
.info{
  position: absolute;
  top: 51px;
  left: 32px;
}
.menu-list {
  text-align: right;
  padding: 2px 0;
}
.menu-list li:last-child{
  margin-right: 60px;
}
.menu-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #ffff;
  padding: 30px 30px 29px 30px;
  margin-right:50px; 
}
.shevron_menu a{
  color: #000;
  font-family: Helvetica;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}
.shevron_menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -25px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 48px 25px;
  border-color: transparent transparent #fff transparent;
}
.shevron_menu a::after{
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 48px 0;
  border-color: transparent #fff transparent transparent;
}
.shevron_menu li::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 25px;
  border-color: transparent transparent transparent #fff;
}
.menu-gradient{
  flex-grow: 1;
  height: 100px;
  margin: 28px 48px 59px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
.heading_text{
  height: 32px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #d5c4b2;
  flex-grow: 1;
  margin: 0 48px;
  border-bottom: 1px solid #d5c4b2;
  padding-bottom: 15px;
}
.h1{
  flex-grow: 1;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #000000;
  margin: 0 48px;
  margin-bottom: 21px;
}
.headline_box p:first-child{
  margin-bottom: 42px;
  margin-top: 24px;
  font-size: 54px;
}
.headline_box p:last-child{
  font-size: 24px;
  margin-bottom: 20px;
}
.headline_box_two .h1{
  font-size: 16px;
  margin-top: 21px;
}
.code_box_one{
  flex-grow: 1;
  border-radius: 8px;
  border:  1px solid #d5c4b2;
  margin: 0 48px;
  padding: 16px;
  position: relative;
}
.logo_box{
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #d5c4b2;
  background: #fff;
  position: absolute;
  top: -16px;
  left: 20px;
  padding: 4px;
}
.text_box{ 
  font-family: Hack;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #d5c4b2;
  background: #000;
  border-radius: 8px;
  padding: 48px;
}
.code_box_two{
  flex-grow: 1;
  border-radius: 8px;
  border:  1px solid #d5c4b2;
  padding: 16px;
  position: relative;
  margin: 32px 48px 48px;
}
.box_lorem{
  flex-grow: 1;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #000000;
  margin: 0 48px;
}
.box_lorem p:first-child{
  margin: 24px 0 21px;
}
.box_lorem p:last-child{
  margin-bottom: 32px;
}
.nav li a:hover{
  color: #d5c4b2;
}
.nav .bar li a:hover{
  color: #fff;
}
.logo:hover{
  text-transform: uppercase;
  text-shadow: -4px -4px 0px #fff;
  background: linear-gradient(90deg, rgba(185,160,118,1) 11%, rgba(246,166,96,1) 49%, rgba(210,191,100,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}














